<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    font-family: "Urbanist" Arial, Helvetica, sans-serif;
  }
  
 .pri-bg-col {
    background-color: #1a3129;
  }
  
  .sec-bg-col {
    background-color: #234338;
  }
  
  .ter-bg-col {
    background-color: #cbea7b;
  }
  
  .pri-text-col {
    color: #1a3129;
  }
  
  .sec-text-col {
    color: #234338;
  }
  
  .ter-text-col {
    color: #cbea7b;
  }
  
  header {
    position: fixed;
    top: 0;
  }
  
  header .topnav {
    border: 2px solid #2c5446;
  }
  
  header .container-fluid {
    border-top: 2px solid #234338;
  }
  
  header .bottomnav ul li a {
    font-size: 14px;
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(203, 234, 123, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  @media screen and (max-width: 426px) {
    .top-nav-text {
      font-size: 12px;
    }
  
    .top-nav-text .arrow {
      padding-bottom: 10px;
    }
  
    .top-bar {
      position: relative;
      top: 0;
      left: 0;
      padding-top: 25px;
    }
  
    .top-nav-mobile #left-image-dup {
      position: absolute;
      bottom: -1%;
      left: -19%;
      z-index: -1;
      width: 35%;
    }
  
    .top-nav-mobile #right-image-dup {
      position: absolute;
      bottom: -1%;
      right: -19%;
      z-index: -1;
      width: 35%;
    }
  }
.space {
    margin-top:15%;
}  
.first {
    position: relative;
    width: 40%;
    top: 0;
    left: 0;
}
.second {
     width: 5%;
     position: absolute;
     top: 10%;
     left: 45%;
}
 .bg-color {
     background-color: #f6fbe9;
}
 .Icons {
     background-color: #CBEA7B;
     font-size: 20px;
     border-radius: 5px 5px;
     padding: 10px 20px;
     margin-top: 30px;
     margin-right: 10px;
}
.button {
    background-color: #CBEA7B;
    width: 100%;
}

.boder {
    border: 1px solid #EEF8D3;
}
 .size {
     font-size: 80px;
     position: relative;
     top: 40px;
     color: #45846f;
}
<<<<<<< HEAD
=======
@import url("./about.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

/* global styling */
.header-color {
    background-color: #1A3129;
}

.small-header {
    background-color: #234338;
}

.dark-green-15 {
    text-decoration-color: #1A3129 !important;
}

.green-70 {
    background-color: #CBEA7B !important;
}

.green-90 {
    background-color: #EEF8D3 !important;
}

.green-95 {
    background-color: #F6FBE9 !important;
}

.grey-15 {
    text-decoration-color: #262626 !important;
}

.grey-20 {
    text-decoration-color: #333333 !important;
}

.grey-30 {
    text-decoration-color: #4C4C4D !important;
}
.grey-35 {
    text-decoration-color: #59595A !important;
}
/* End global styling */

.hero-btn1 {
    margin-right: 10px;
    background-color: #CBEA7B;
}

.hero-btn2 {
    background-color: #E5F5BD;
}

.hero-capsule {
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    width: 26%;
}

.hero-text h6, h1 {
    color: #1A3129;
}

.hero-text p {
    color: #333333;
}

/* feature styling */

.card-body {
    background-color: #F6FBE9;
}

/* swiper css */
.swiper {
    width: 100%;
    height: auto;
}

.ht-icon {
    width: 30px;
} 
 
.swiper-slide p {
    font-size: 10px;
}

.swiper-button-prev {
    margin-top: 100px;
    padding-left: 470px;
}

.swiper-button-next {
    margin-top: 100px;
    padding-right: 470px;
}

.sample-slider .swiper-pagination-bullet .swiper-button-next .swiper-button-prev {
    background-color: #356554 ;
}
 
.w {
    width: 35%;
    border-bottom: 2px solid #CBEA7B;
}
.foot {
    margin-top: 100px;
}

>>>>>>> develop
=======

/* footer css */
.abt-bg-footer1{
    background-color: #1a3129 ;
}
.abt-bg-footer2{
    background-color: #234338;
} 
.abt-ancor a{
    text-decoration: none;
    padding: 5px;
    color: #fff;
    font-size: 10px;
}
.abt-border{
    border: 1px solid rgb(85, 83, 83);
    width: 100%;
    margin: auto;
}
.pri-text-col{
    color: #cbea7b !important;
}
.btn{
    background-color: #cbea7b !important;
}
.abt-bg{
    background-color: #f6fbe9;
}
.abt-company-height{
    height: auto !important;
}
.border-right{
    border-right: 3px solid #cbea7b;
}
.border-left{
    border-left: 3px solid #cbea7b;
}
.w{
    width: 80%;
    border-bottom: #cbea7b 4px solid;
}
.w1{
    width: 80%;
    border-bottom: #cbea7b 4px solid;
}



.global-p-10{
    font-size: 15px !important;
    padding-top: 10px !important;
    padding-left: 2px !important;
}
>>>>>>> 51e9fffbae471027e8766a739c2d81812a2dac36
